In [89]:
###replace directories for SIMI_SACT_TUMOUR for synthetic and real data###

import pandas as pd
import numpy as np

##import SIM I data and real data
SIMI_SACT_TUMOUR=pd.read_table("/Users/rebecafiadeiro/Documents/HDI/simulacrum_release_v1/sim_sact_tumour.csv", sep=",")
real_data=pd.read_table("/Users/rebecafiadeiro/Documents/HDI/simulacrum_release_v1/sim_sact_tumour.csv", sep=",")

##new table with counts of unique data
SIMI_SACT_TUMOUR_unique =pd.DataFrame({'Item': ['PRIMARY_DIAGNOSIS', 'CONSULTANT_SPECIALITY_CODE','MORPHOLOGY_CLEAN'], 
                      'Syhtnetic_data': [SIMI_SACT_TUMOUR['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE'].nunique(),SIMI_SACT_TUMOUR['MORPHOLOGY_CLEAN'].nunique()],
                      'real_data': [real_data['PRIMARY_DIAGNOSIS'].nunique(), real_data['CONSULTANT_SPECIALITY_CODE'].nunique(), real_data['MORPHOLOGY_CLEAN'].nunique()]
                     })
print(SIMI_SACT_TUMOUR_unique)

##make frequency tables for SIM I and real data
SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ=pd.value_counts(SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE']).to_frame().reset_index()
SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ.columns=['CONSULTANT_SPECIALITY_CODE','freq_synth']

real_data_CONSULTANT_SPECIALITY_CODE_FREQ=pd.value_counts(real_data['CONSULTANT_SPECIALITY_CODE']).to_frame().reset_index()
real_data_CONSULTANT_SPECIALITY_CODE_FREQ.columns=['CONSULTANT_SPECIALITY_CODE','freq_real']

SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ=pd.value_counts(SIMI_SACT_TUMOUR['PRIMARY_DIAGNOSIS']).to_frame().reset_index()
SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ.columns=['PRIMARY_DIAGNOSIS','freq_synth']

#real_data_PRIMARY_DIAGNOSIS_FREQ=SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ[['PRIMARY_DIAGNOSIS']]
#real_data_PRIMARY_DIAGNOSIS_FREQ['freq_real'] =np.random.randint(1,44219, size=len(real_data_PRIMARY_DIAGNOSIS_FREQ))

real_data_PRIMARY_DIAGNOSIS_FREQ=pd.value_counts(real_data['PRIMARY_DIAGNOSIS']).to_frame().reset_index()
real_data_PRIMARY_DIAGNOSIS_FREQ.columns=['PRIMARY_DIAGNOSIS','freq_real']

SIMI_SACT_TUMOUR_MORPHOLOGY_CLEAN_FREQ=pd.value_counts(SIMI_SACT_TUMOUR['MORPHOLOGY_CLEAN']).to_frame().reset_index()
SIMI_SACT_TUMOUR_MORPHOLOGY_CLEAN_FREQ.columns=['MORPHOLOGY_CLEAN','freq_synth']

real_data_MORPHOLOGY_CLEAN_FREQ=pd.value_counts(real_data['MORPHOLOGY_CLEAN']).to_frame().reset_index()
real_data_MORPHOLOGY_CLEAN_FREQ.columns=['MORPHOLOGY_CLEAN','freq_real']

##merging the frequency tables
CONSULTANT_SPECIALITY_CODE_FREQ_merge=pd.merge(SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ, real_data_CONSULTANT_SPECIALITY_CODE_FREQ, on='CONSULTANT_SPECIALITY_CODE',how='outer')
CONSULTANT_SPECIALITY_CODE_FREQ_merge.sort_values(by=['CONSULTANT_SPECIALITY_CODE'])
with pd.option_context('display.max_rows', 100):
    print(CONSULTANT_SPECIALITY_CODE_FREQ_merge)
CONSULTANT_SPECIALITY_CODE_FREQ_merge.to_csv(r'/Users/rebecafiadeiro/Documents/HDI/simulacrum_release_v1/CONSULTANT_SPECIALITY_CODE_FREQ_merge.csv', index = False)

PRIMARY_DIAGNOSIS_FREQ_merge=pd.merge(SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ, real_data_PRIMARY_DIAGNOSIS_FREQ, on='PRIMARY_DIAGNOSIS',how='outer')
PRIMARY_DIAGNOSIS_FREQ_merge.sort_values(by=['PRIMARY_DIAGNOSIS'])
    print(PRIMARY_DIAGNOSIS_FREQ_merge)

MORPHOLOGY_CLEAN_FREQ_merge=pd.merge(SIMI_SACT_TUMOUR_MORPHOLOGY_CLEAN_FREQ, real_data_MORPHOLOGY_CLEAN_FREQ, on='MORPHOLOGY_CLEAN',how='outer')
MORPHOLOGY_CLEAN_FREQ_merge.sort_values(by=['MORPHOLOGY_CLEAN'])
    print(MORPHOLOGY_CLEAN_FREQ_merge)

                         Item  Syhtnetic_data  real_data
0           PRIMARY_DIAGNOSIS             760        760
1  CONSULTANT_SPECIALITY_CODE              76         76
2            MORPHOLOGY_CLEAN             533        533
    CONSULTANT_SPECIALITY_CODE  freq_synth  freq_real
0                        800.0      125359     125359
1                        370.0       85863      85863
2                        303.0       31772      31772
3                          0.0       21352      21352
4                        823.0       14914      14914
5                        101.0        9408       9408
6                        100.0        2712       2712
7                        300.0        1953       1953
8                        420.0        1507       1507
9                        103.0         829        829
10                       305.0         626        626
11                       950.0         519        519
12                        25.0         419        419
13                       260.0         404        404
14                       253.0         240        240
15                       340.0         221        221
16                       307.0         173        173
17                       502.0         139        139
18                        18.0         116        116
19                        32.0         115        115
20                        85.0          83         83
21                       830.0          83         83
22                       503.0          68         68
23                       960.0          60         60
24                       330.0          59         59
25                       301.0          53         53
26                        67.0          51         51
27                       160.0          51         51
28                       315.0          47         47
29                       110.0          43         43
30                        19.0          37         37
31                       120.0          36         36
32                        63.0          31         31
33                       190.0          30         30
34                       170.0          28         28
35                       371.0          25         25
36                       600.0          25         25
37                        13.0          22         22
38                       308.0          19         19
39                       150.0          18         18
40                       104.0          17         17
41                       105.0          16         16
42                       171.0          16         16
43                       500.0          12         12
44                       410.0          11         11
45                       400.0          11         11
46                       376.0          10         10
47                       140.0          10         10
48                       430.0          10         10
49                       302.0           9          9
50                       306.0           9          9
51                       311.0           8          8
52                       810.0           7          7
53                       180.0           7          7
54                       254.0           7          7
55                       824.0           6          6
56                       620.0           6          6
57                       320.0           6          6
58                       361.0           4          4
59                       130.0           4          4
60                       314.0           3          3
61                        30.0           3          3
62                       326.0           3          3
63                       811.0           3          3
64                       173.0           2          2
65                        52.0           2          2
66                       372.0           2          2
67                       360.0           1          1
68                        83.0           1          1
69                       710.0           1          1
70                       715.0           1          1
71                       304.0           1          1
72                        50.0           1          1
73                         7.0           1          1
74                       144.0           1          1
75                       255.0           1          1
    PRIMARY_DIAGNOSIS  freq_synth  freq_real
0                C509       44219      44219
1                C349       18281      18281
2                 C61       16305      16305
3                 C20       11835      11835
4                C833       10840      10840
..                ...         ...        ...
755              A099           1          1
756              B389           1          1
757               AML           1          1
758              D044           1          1
759              Q069           1          1

[760 rows x 3 columns]
     MORPHOLOGY_CLEAN  freq_synth  freq_real
0             81403.0       42021      42021
1             85003.0       22888      22888
2             80703.0        9867       9867
3             97323.0        5912       5912
4             80103.0        5373       5373
..                ...         ...        ...
528           85843.0           1          1
529           80973.0           1          1
530           85823.0           1          1
531           85763.0           1          1
532           85811.0           1          1

[533 rows x 3 columns]

In [4]:
SIMI_SACT_TUMOUR.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299727 entries, 0 to 299726
Data columns (total 5 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   MERGED_TUMOUR_ID            299727 non-null  int64
 1   MERGED_PATIENT_ID           299727 non-null  int64
 2   CONSULTANT_SPECIALITY_CODE  299723 non-null  float64
 3   PRIMARY_DIAGNOSIS           299619 non-null  object
 4   MORPHOLOGY_CLEAN            154238 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 11.4+ MB

In [24]:
SIMI_SACT_TUMOUR.describe(include='all')

,MERGED_TUMOUR_ID,MERGED_PATIENT_ID,CONSULTANT_SPECIALITY_CODE,PRIMARY_DIAGNOSIS,MORPHOLOGY_CLEAN
count,2.997270e+05,2.997270e+05,299723.000000,299619,154238.000000
unique,NaN,NaN,NaN,760,NaN
top,NaN,NaN,NaN,C509,NaN
freq,NaN,NaN,NaN,44219,NaN
mean,9.260096e+07,9.262638e+07,526.820307,NaN,85022.768384
std,6.545214e+07,6.543873e+07,278.421455,NaN,8770.195170
min,1.000000e+07,1.000024e+07,0.000000,NaN,0.000000
25%,3.000950e+07,3.006740e+07,370.000000,NaN,81403.000000
50%,8.001016e+07,8.002116e+07,370.000000,NaN,81403.000000
75%,1.400071e+08,1.400237e+08,800.000000,NaN,85223.000000
max,2.200202e+08,2.200486e+08,960.000000,NaN,99999.000000

In [6]:
SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE'].value_counts()

800.0    125359
370.0     85863
303.0     31772
0.0       21352
823.0     14914
          ...
304.0         1
50.0          1
7.0           1
144.0         1
255.0         1
Name: CONSULTANT_SPECIALITY_CODE, Length: 76, dtype: int64

In [27]:
SIMI_SACT_TUMOUR.describe

<bound method NDFrame.describe of         MERGED_TUMOUR_ID  MERGED_PATIENT_ID  CONSULTANT_SPECIALITY_CODE  \
0               10000001           10000235                       101.0
1               10000002           10000315                       101.0
2               10000003           10000337                       100.0
3               10000004           10000480                       303.0
4               10000005           10000533                       823.0
...                  ...                ...                         ...
299722         220020152          220030400                       370.0
299723         220020159          220004252                       823.0
299724         220020175          220024703                       800.0
299725         220020177          220038134                       800.0
299726         220020183          220030424                       370.0

       PRIMARY_DIAGNOSIS  MORPHOLOGY_CLEAN
0                    C61           81403.0
1                   C679           81403.0
2                   C500               NaN
3                   C829               NaN
4                   D473               NaN
...                  ...               ...
299722              C844               NaN
299723              C844               NaN
299724               C07           80203.0
299725              C859           81203.0
299726              C409               NaN

[299727 rows x 5 columns]>

In [43]:
SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ=pd.value_counts(SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE']).to_frame().reset_index()
SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ.columns=['CONSULTANT_SPECIALITY_CODE','freq']
SIMI_SACT_TUMOUR_CONSULTANT_SPECIALITY_CODE_FREQ.sort_values(by=['freq'], ascending=False)

    CONSULTANT_SPECIALITY_CODE    freq
0                        800.0  125359
1                        370.0   85863
2                        303.0   31772
3                          0.0   21352
4                        823.0   14914
..                         ...     ...
71                       304.0       1
72                        50.0       1
73                         7.0       1
74                       144.0       1
75                       255.0       1

[76 rows x 2 columns]

In [42]:
SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ=pd.value_counts(SIMI_SACT_TUMOUR['PRIMARY_DIAGNOSIS']).to_frame().reset_index()
SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ.columns=['PRIMARY_DIAGNOSIS','freq']
SIMI_SACT_TUMOUR_PRIMARY_DIAGNOSIS_FREQ.sort_values(by=['freq'], ascending=False)

    PRIMARY_DIAGNOSIS   freq
0                C509  44219
1                C349  18281
2                 C61  16305
3                 C20  11835
4                C833  10840
..                ...    ...
682               J84      1
681              c917      1
680              N300      1
679              D385      1
759              Q069      1

[760 rows x 2 columns]

In [50]:
real_data=SIMI_SACT_TUMOUR[['PRIMARY_DIAGNOSIS']]
real_data['rand_freq'] =np.random.randint(1,44219, size=len(real_data))

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [54]:
real_data.describe(include='all')

       PRIMARY_DIAGNOSIS      rand_freq
count             299619  299727.000000
unique               760            NaN
top                 C509            NaN
freq               44219            NaN
mean                 NaN   22079.477645
std                  NaN   12767.648873
min                  NaN       1.000000
25%                  NaN   11010.000000
50%                  NaN   22029.000000
75%                  NaN   33163.500000
max                  NaN   44218.000000

In [59]:
SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE'].nunique()

76

In [65]:
unique =pd.DataFrame({'Item': ['PRIMARY_DIAGNOSIS', 'CONSULTANT_SPECIALITY_CODE','MORPHOLOGY_CLEAN'], 'Syhtnetic_data': [SIMI_SACT_TUMOUR['PRIMARY_DIAGNOSIS'].nunique(), SIMI_SACT_TUMOUR['CONSULTANT_SPECIALITY_CODE'].nunique(),SIMI_SACT_TUMOUR['MORPHOLOGY_CLEAN'].nunique()],'real_data': [real_data['PRIMARY_DIAGNOSIS'].nunique(), real_data['CONSULTANT_SPECIALITY_CODE'].nunique(), real_data['MORPHOLOGY_CLEAN'].nunique()]})

In [68]:
unique

                         Item  Syhtnetic_data  real_data
0           PRIMARY_DIAGNOSIS             760        760
1  CONSULTANT_SPECIALITY_CODE              76         76
2            MORPHOLOGY_CLEAN             533        533

In [91]:
import random
real_data['CONSULTANT_SPECIALITY_CODE'] = random.sample(real_data['CONSULTANT_SPECIALITY_CODE'], len(real_data['CONSULTANT_SPECIALITY_CODE']))

TypeError: Population must be a sequence or set.  For dicts, use list(d).